<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Astro.generator" />
    <title>The Roam Theory</title>
  </head>
  <body>
    <h1>Exploring movement, meaning, and the deeper side of travel.</h1>
  </body>
</html>