---
import { Icon } from 'astro-icon/components';
import {
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
	Container,
	FeatureCard,
} from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Updates</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h2>How?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>What?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection>

	<StickyTextImageSection>
		<div slot="text-container">
			<h2>Features</h2>
			<h3>SEO</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
			<h3>Responsive</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
			<h3>Themeable</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/landing-sticky.jpg"
				alt="Astro Odyssey"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>

<Layout>

	<Container>
		<section class="feature-card__section">
			<h2>Discover More</h2>
			<p>
				Use one of our prebuilt company pages for your about page, contact page,
				legal pages, blog posts, etc.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/discover/about" title="About Page" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/discover/contact" title="Contact Page" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/blog/" title="Blog Page" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard
					href="/blog/posts/Columbus-to-Cheyenne"
					title="Columbus to Cheyenne"
          imgSrc="/assets/images/home/screenshots/blog-post"
				>
				</FeatureCard>
				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal"
					title="Legal Page"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Theme Pages</h2>
			<p>Learn more about how to set up and use the Odyssey Theme.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/get-started"
					title="Get Started"
				>
				</FeatureCard>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/style-guide"
					title="Style Guide"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
