---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | The Roam Theory',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About The Roam Theory</h1>
			<p>
        The Roam Theory is about embracing the philosophy of travel — moving not just through places but through experiences, perspectives, and stories. We believe that true travel is about connection, meaning, and personal growth.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      Travel isn’t just about where you go—it’s about what happens to you along the way.
    </p>
    <p>
      It’s the stillness of a gas station at 2 AM. The hum of tires on an empty highway. The way the night sky looks when there’s nothing but silence around you.
    <p>
      <strong>Roam Theory</strong> is about chasing those moments—the ones that stop time, shift perspective, and leave you different than before.
    </p>
    <p>
      Because movement, in any form, is what fuels growth. And the truth is, <strong>there’s no growth if you don’t roam.</strong>
    </p>
    <p>
      This isn’t a travel journal. It’s a way of seeing. A philosophy built on curiosity, experience, and the belief that every journey—no matter how big or small—has something to teach us.
    </p>
    <p>
      If you’ve ever felt the pull of the unknown—the need to move, to seek, to understand—then you already know <em>The Roam Theory</em>.
    </p>
  </TextSection>
</Layout>
